.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.left .right {
  width: 50%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  width: 50%;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333333;
}

.rating {
  font-size: 18px;
  color: #ffaa00;
  margin-bottom: 10px;
}

.mintingCharges {
  font-size: 16px;
  color: #555555;
  margin-bottom: 20px;
}

.buyNowButton {
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buyNowButton:hover {
  background-color: #0056b3;
}

/* Reviews and FAQ section */
.extraDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.reviews,
.faq {
  flex: 1;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reviews {
  margin-right: 10px;
}

.reviews h3,
.faq h3 {
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
}

.reviewItem {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}

.reviewItem:last-child {
  margin-bottom: 0;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #80c8c9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.reviewContent {
  flex: 1;
}

.reviewHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.reviewUsername {
  font-size: 16px;
  font-weight: bold;
}

.reviewDate {
  font-size: 14px;
  color: #999999;
}

.reviewText {
  font-size: 14px;
  color: #555555;
}

.faq {
  margin-left: 10px;
}

.faqItem {
  padding: 10px 0;
  border-bottom: 1px solid #eeeeee;
  cursor: pointer;
}

.faqItem:last-child {
  border-bottom: none;
}

.faqItem:hover {
  color: #007bff;
  transition: color 0.3s ease;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}
.topContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
